$vermelho: #D91E18;
$vermelho2: #F64747;
$cinza: #eeeeee;
$preto: #292929;
$branco: #fff;
$pretoclaro: #353535;
$pretomaisclaro: #505050;

*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
body, html{
  overflow-x: hidden;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.ttf) format('truetype');
    src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.ttf) format('truetype');
}
@mixin fotoLinear($r, $g, $b, $a1, $a2, $nome, $extensao) {
  $url: "../img/#{$nome}.#{$extensao}";
  background: linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($url) ;
  background: -webkit-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($url) ;
  background: -moz-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($url) ;
  background: linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)), url($url) ;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}
@mixin linear ($r, $g, $b, $a1, $a2) {
  background: linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2)) ;
  background: -webkit-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
  background: -moz-linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
  background: linear-gradient(rgba($r, $g, $b, $a1), rgba($r, $g, $b, $a2));
  background-size: cover;
}
@mixin borderradius ($px) {
  -webkit-border-radius: $px;
  -moz-border-radius: $px;
  -o-border-radius: $px;
  -ms-border-radius:$px;
}
@mixin transicao ($tempo){
  -webkit-transition: all $tempo linear;
  -moz-transition: all $tempo linear;
  -o-transition: all $tempo linear;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-justify{
  text-align: justify !important;
  text-justify: inter-word !important;
}
.text-center{
  text-align: center;
}
.navbar{
  height: 75px;
  text-align: right;
  position: fixed;
  top:0;
  background-color: $preto;
  width: 100%;
  color: #fff;
  z-index: 999;
  letter-spacing: 2px;
  transition: all 1.1s ease;
  -webkit-transition: all 1.1s ease;
  -moz-transition: all 1.1s ease;
  -o-transition: all 1.1s ease;
}

.nav-item{
  font-style: bold;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  margin-left: 25px;
  margin-top: 25px;
  list-style: none;
  font-size: 10px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
}
.nav-item:hover{
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
}
.nav-item:last-child{
  padding-right: 30px;
}
.navbar-mobile{
  display: none;
}
.container-navbar{
  display: none;
}
.titulo{
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 2em;
  border-bottom: 2px solid red;
  display: inline-block;
  margin: auto;
}
.titulo2{
  @extend .titulo;
  border: none;
}
.subtitulo{
  text-transform: uppercase;
  padding: 20px 0px 20px;
  font-weight: normal;
  font-size: 2rem;
}
.texto{
  font-weight: normal;
  font-size: 1.5rem;
}
#banner{
  background-color: $vermelho;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  top: 0 !important;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
    h1{
    @extend .titulo;
    border-bottom: none;
  }
}
section:not(:first-child){
  padding-top: 50px;
  padding-bottom: 50px;
}

#sobre{
  color: $preto;
}

.botaoprimario{
 @include borderradius(20px);
 @include transicao(0.4s);
 background-color: $vermelho2;
 border: none;
 padding: 10px 50px;
 font-size: 15px;
 letter-spacing: 1px;
 text-transform: uppercase;
 font-weight: bold;
 color: $branco;
 margin-top: 15px;

 &:hover{
   background-color: $preto;
   color: $branco;
 }
 .glyphicon{
   top: 2px;
 }
}
.botaosecundario{
  @extend .botaoprimario;
  background-color: $branco;
  color: $preto;
  &:hover{
    background-color: $vermelho;
    color: $branco;
  }
}

.atividades{
  background: linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/saneamento.jpeg");
  background: -webkit-linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/saneamento.jpeg");
  background: -moz-linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/saneamento.jpeg");
  background: linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/saneamento.jpeg");
  background-color: $preto;
  color: $branco;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  overflow: hidden;
  @include transicao(0.5s);
  .thumbnail{
    background: transparent !important;
    border: 0 !important;
  }
  .caption{
    color: $branco !important;
  }
}
.atividadesSan{
 @extend .atividades;
}
.atividadesTran{
  max-width: 100%;
  overflow: hidden;
  background: linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/rodovia.jpeg");
  background: -webkit-linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/rodovia.jpeg");
  background: -moz-linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/rodovia.jpeg");
  background: linear-gradient(black, rgba(0, 0, 0, 0.8)), url("../img/rodovia.jpeg");
  background-color: $preto;
  color: $branco;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include transicao(0.5s);
  .thumbnail{
    background: transparent !important;
    border: 0 !important;
  }
  .caption{
    color: $branco !important;
  }
}
.thumbnail{
  overflow: hidden;
}
footer{
  padding-top: 25px;
  background-color: $pretomaisclaro;
  color: $branco;
  word-wrap: break-word;
  a{
    border-bottom: none;
    color: $branco !important;
    @include transicao(0.4s);
  }
  a:hover{
    text-decoration: none !important;
    border-bottom: 1px solid $branco;
  }
  li{
    padding-bottom: 10px;
    list-style: none;
    font-size: 20px;
  }
  p{
    padding-top: 20px;
    font-size: 15px;
  }
  .titulofooter{
    @extend .titulo2;
    font-size: 20px;
    padding-bottom: 15px;
    padding-top: 15px;

  }
  .glyphicon{
    color: $vermelho;
  }
  .subtitulofooter{
    @extend .subtitulo;
    font-size: 15px;
  }
}
@media only screen and (max-width: 768px) {
  section:not(:first-child){
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
// A partir aqui comecei a trabalhar no "Quem somos (expandida)"
.banner-2{
  @include fotoLinear(242, 38, 19, 0.5, 0.5, sala, jpg);
  @extend #banner;
  height: 60vh;
  margin-bottom: 0 !important;
  h1{
    margin-top: 75px;
    font-family: "Arial", sans-serif;
    color: $branco;
    font-size: 5rem;
    word-wrap: break-word;
    font-weight: bolder;
  }
}
.comfig{
  overflow: hidden;

  img{
    height: 90%;
    width: 100%;
    max-width: 100%;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
   img:hover{
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      overflow: hidden;

    }
  figcaption{
    background-color: $preto;
    color: $branco;
    font-size: 1em;
    height: 50px;
  }
}

.triangulo{
  margin-top: -1px;
  margin-left: 50% !important;
  margin-right: 50% !important;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 30px 0 30px;
  border-color: $vermelho transparent transparent transparent;
}
#sobrenos{
background: $vermelho;
color: $branco;
.titulo{
  border-bottom-color: $preto;
}
 p {
   font-size: 16px;
   font-weight:  bold;
 }
 .col-md-6:last-child{
   margin: 0 !important;
   padding: 0!important;
   img{
     width: 80%;
     max-width: 100%;
   }
 }
}

#missao{
  .col-md-4{
    padding-bottom: 20px;
    padding-left: 8%;
    padding-right: 3%;
  }
  li{
    list-style: none;
  }
}
#clientes{
  background-color: $cinza;
  .thumbnail{
    background: transparent !important;
  }
  .caption{
    color: $preto !important;
  }
}
.diferenciais{
  background: $preto;
  color: $branco;

  li{
    list-style: none;
    font-size: 20px;
  }
}
#transitosec{
 background: $vermelho;
 color: $branco !important;
}

.cards{
.thumbnail{
  position: relative;
}
img{
  width: 100%;
  max-width: 100%;
}
  figcaption{
    margin-left: -5px;
    top:0;
    position: absolute;
    width: 101%;
    height: 100%;
    color: $branco;
    @include transicao(0.5s);
    @include linear(0,0,0, 0.4, 0.4);
    box-sizing: border-box;
 }
 .container-fig {
   position: absolute;
   top: 50%;
   left: 15%;
   width: 70%;
   text-align: center;
   -webkit-transform: translateY( -50% );
   -moz-transform: translateY( -50% );
   transform: translateY( -50% );
   position: absolute;
   button{
     word-wrap: none;
     @extend .botaoprimario;
     font-size: 14px !important;
     &:hover{
       background-color: $branco;
       color: $preto;
     }
   }
  }
}
@media only screen and (max-width: 768px) {
  .navbar{
    display: none;
  }
  .navbar-mobile{
    z-index: 12;
    position: fixed;
    top:0;
    width: 100%;
    display:block;
    background: $branco;
    text-align: center;
    height: 55px;
  }
  .container-navbar{
   margin-top: 50px !important;
   top: 0;
   position: fixed;
   text-align: center;
   width: 100%;
  }
  .btn-nav{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px !important;
    background: transparent;
    float: right;
    color: $vermelho !important;
    border: none;
    outline: none;
  }
  .brand{
    float: left;
    color: $vermelho;
    margin-left: 15px;
    margin-top: 16px;
  }
  .nav-mobile{
    position: relative;
    text-transform: uppercase;
    margin-bottom: -1px;
    color: #888;
    background-color: $branco;
    list-style-type: none;
    &:first-child{
      padding-top: 20px;
    }
  }
  a:hover{
    border: none !important;
    text-decoration: none !important;
    color: $branco;
    background-color: $vermelho;
  }

  .col-md-4{
    padding-bottom: 10px !important;
    padding-left: 10px !important;
    padding-right:10px !important;
  }
}
