

textarea {
    resize: none;
}

footer{
    font-family: 'lato', sans-serif;
    color: #DCDCDC;
    background-color:  #424241;

}

.ul-footer{
    margin: 0;
    padding: 0;
}
.li-footer{
     list-style: none;
     margin:0;
     display: inline;
     float: left;
}
